.header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.headerbar {
    display: flex;
    /* padding: 20px 0px 10px 20px; */
    padding: 20px 0px 10px 20px;
}

.headerbar img {
    width: 40px;
    height: 40px;
    transition-property: all;
    transition-duration: 350ms;
    transition-timing-function: ease;
    transition-delay: initial;
}

.headerbar img:hover {
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
}

.header-button {
    height: 30px;
    font-size: 12px;
    margin: 0px;
    padding: 0px 20px 0px 20px;
    display: block;
    margin-left: auto;
    margin-right: 0px;
}
