.row:nth-of-type(2) {
    margin-top: 24px;
    align-items: center;
    margin-bottom: 88px;
}

#profile, #this-months-sponsor {
    margin-top: 32px;
    display: flex;
}

#profile:hover #profile-avatar, #this-months-sponsor:hover #this-months-sponsor-avatar {
    -webkit-filter: none;
    filter: none;
}

#profile-avatar, #this-months-sponsor-avatar {
    width: 36px;
    height: 36px;
    margin-right: 12px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.newsletter-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(19, 30, 47, 0.88);
    z-index: -400;
    opacity: 0;
}

.newsletter-wrapper.active {
    z-index: 400;
    opacity: 1;
}

.newsletter {
    /* max-width: 640px; */
    max-height: fit-content;
    padding: 56px;
    border-radius: 24px;
    opacity: 0;
    transform: scale(0.96, 0.96);
}

.newsletter-wrapper.active .newsletter {
    opacity: 1;
    transform: scale(1.0, 1.0);
}

.newsletter-top {
    display: flex;
}

.newsletter img {
    width: 24px;
    height: 24px;
}

form, #mc_embed_signup_scroll {
    margin: 16px 0px;
}

input.email {
    min-width: 320px;
    font-size: 18px;
    padding: 16px 24px;
}

input.button {
    width: initial;
    border: none;
    margin: 8px 0px 0px 0px;
}

@media only screen and (min-width: 992px) {
    #profile, #this-months-sponsor {
        margin-top: 0px;
    }

    form, #mc_embed_signup_scroll {
        display: flex;
    }

    input.button {
        margin: 0px 0px 0px 16px;
    }
    
}
