.homepage-line {
    background-color: #7166FF;
}

.hero {
    height: 100vh;
    display: flex;
}

.hero-left {
    width: 50vw;
    background-image: url(../img/ConfettiV8@2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -180px -5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-left-content {
    width: 70%;
}

.hero-left-content img {
    height: 54px;
    width: 54px;
}

/* .logo img {
    height: 50px;
    width: 50px;
    margin-top: 25px;
    transition-property: all;
    transition-duration: 350ms;
    transition-timing-function: ease;
    transition-delay: initial;
}

.logo img:hover {
    transform:scale(1.15,1.15);
    -webkit-transform:scale(1.15,1.15);
    -moz-transform:scale(1.15,1.15);
} */

.hero-left h1 {
    margin-bottom: 20px;
}

.hero-right {
    width: 50vw;
    background: linear-gradient(to bottom right, #8BC6EC, #7166FF);
    background: #7166FF; /*if browser doesn't support gradient*/
    background: -webkit-linear-gradient(left top, #8BC6EC, #7166FF);
    background: -o-linear-gradient(bottom right, #8BC6EC, #7166FF);
    background: -moz-linear-gradient(top left, #8BC6EC, #7166FF);
    display: flex;
    align-items: center;
}

.hero-right-content {
    width: 100%;
}

.hero-right-nav {
    display: flex;
    justify-content: center;
    margin: 50px 0px 50px 0px;
    transition-property: all;
    transition-duration: 350ms;
    transition-timing-function: ease;
    transition-delay: initial;
}

.hero-right-nav:hover {
    transform:scale(1.02,1.02);
    -webkit-transform:scale(1.02,1.02);
    -moz-transform:scale(1.02,1.02);
}

.hero-right-nav-textbox {
    height: 85px;
    width: 64%;
    line-height: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 15px 0 rgba(127,127,127,0.50);
    border-radius: 0px 5px 5px 0px;
    padding: 0px 20px 0px 20px;
    transition-property: all;
    transition-duration: 350ms;
    transition-timing-function: ease;
    transition-delay: initial;
}

.hero-right-nav-textbox:hover {
    box-shadow: 0 10px 25px 0 rgba(127,127,127,0.50);
}

.hero-right-nav-textbox a {
    display: flex;
    align-items: center;
}

.hero-right-nav-textbox a img {
    height: 36px;
    width: 36px;
    padding-bottom: 6px;
    padding-right: 6px;
}

.hero-right-nav-label {
    height: 85px;
    width: 10px;
    min-width: 5px;
    border-radius: 5px 0px 0px 5px;
}

.tools-design {
    display: flex;
    justify-content: center;
    margin: 30px 0px 30px 0px;
}

.tools-development {
    display: flex;
    justify-content: center;
    margin: 30px 0px 30px 0px;
}

.tools-productivity {
    display: flex;
    justify-content: center;
    margin: 30px 0px 30px 0px;
}

.tools-miscellaneous {
    display: flex;
    justify-content: center;
    margin: 30px 0px 30px 0px;
}

.tools-contentbox {
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 15px 0 rgba(127,127,127,0.50);
    display: flex;
    align-items: center;
    position: relative;
}

.tools-label {
    height: 100%;
    width: 10px;
    border-radius: 5px 0px 0px 5px;
    position: absolute;
}

#tools-label-design {
    background-color: #FF718E;
}

#tools-label-development {
    background-color: #70F7C7;
}

#tools-label-productivity {
    background-color: #70CAF7;
}

#tools-label-miscellaneous {
    background-color: #F171FF;
}

#tools-label-contribute {
    background-color: #FED475;
}

#label-future {
    background-color: #6BEDE7;
}

#label-send {
    background-color: #FFD56E;
}

.tools h4 {
    margin-left: 15px;
}

.tools-logos {
    display: flex;
    flex-wrap: wrap;
}

.tools-logos img {
    height: 180px;
    width: 180px;
    margin: 30px 30px 30px 30px;
    border-radius: 5px;
    transition-property: all;
    transition-duration: 350ms;
    transition-timing-function: ease;
    transition-delay: initial;
}

.tools-logos-available img:hover {
    transform:scale(1.05,1.05);
    -webkit-transform:scale(1.05,1.05);
    -moz-transform:scale(1.05,1.05);
    box-shadow: 0 10px 25px 0 rgba(127,127,127,0.50);
}

.tools-logos-unavailable {
    cursor: not-allowed;
    opacity: 0.2;
}

.contribute {
    padding: 30px;
}

.contribute-blocks {
    display: flex;
}

.contribute-blocks1 {
    margin-right: 30px;
}

.contribute a {
    color: #FCBF49;
}

.contribute h3 {
    margin: 0;
    padding: 0;
}

.contribute-content p {
    max-width: 666px;
}

.custom p {
    width: 50%;
}

.custom-images {
    display: flex;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.custom-images img {
    width: 50%;
    height: 50%;
}

.missing-something {
    width: 50%;
}

@media only screen and (max-width: 1180px) {
    .hero-right-nav-textbox {
        height: 70px;
    }

    .hero h3 {
        font-size: 28px;
    }

    .hero-right-nav-textbox a img {
        height: 28px;
        width: 28px;
    }

    .hero-right-nav-label {
        height: 70px;
    }
}

@media only screen and (max-width: 1280px) {
    .tools-logos img {
        height: 150px;
        width: 150px;
        margin: 20px 20px 20px 30px;
    }
}

@media only screen and (max-width: 1024px) { /*wil ik dit op 1024 of 1023 ivm consistentie????*/
    .tools-logos img {
        height: 120px;
        width: 120px;
        margin: 20px 20px 20px 30px;
    }

    .contribute-blocks {
        display: block;
    }

    .contribute-blocks1 {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 1023px) {
    .hero {
        height: auto;
        display: block;
        padding-top: 50px;
    }

    .hero-left {
        width: 85%;
        background-image: none;
        justify-content: flex-start;
        margin: auto;
    }

    .hero-left-content {
        width: 100%;
    }

    .hero-right {
        width: 85%;
        background-image: none;
        justify-content: flex-start;
        margin: auto;
    }
    
    .hero-right-nav {
        justify-content: flex-start;
    }

    .hero-right-nav-textbox {
        width: 100%;
    }

    .contribute-content img {
        display: none;
    }

    .custom p {
        width: 100%;
    }

    .custom-images {
        display: block;
    }

    .custom-images img {
        width: 100%;
    }

    .missing-something {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .tools-logos img {
        height: 110px;
        width: 110px;
        margin: 20px 10px 20px 30px;
    }
}

/* @media only screen and (min-width: 768px) {
    .tools-label {
        min-width: 10px;
    }
} */

@media only screen and (max-width: 500px) {
    .tools-label {
        min-width: 1px;
    }
}

@media only screen and (max-width: 415px) {
    .hero h3 {
        font-size: 20px;
    }

     .hero-right-nav-textbox {
        height: 60px;
    }

     .hero-right-nav-textbox a img {
        height: 28px;
        width: 28px;
    }

     .hero-right-nav-label {
        height: 60px;
    }
}

@media only screen and (max-width: 370px) {
    .tools-logos img {
        height: 90px;
        width: 90px;
        /* margin: 20px 20px 20px 20px; */
        margin: 20px 0px 20px 30px;
    }
}