.tools-overview {
    margin: 120px 0px;
}

.tools-overview img:first-of-type {
    width: 56px;
    height: 56px;
    margin-bottom: 16px;
}

.tools-overview h2 {
    margin-bottom: 40px;
}

.missing-something {
    margin-bottom: 40px;
}

.missing-something a {
    margin: 32px 24px 0px 0px;
}