.scroll-wrapper {
    opacity: 0;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 1;
}

.button-wide {
    max-width: 100% !important;
    height: 100%;
    font-size: 14px;
    padding: 10px 0px 10px 0px;
    width: 100%;
    border-radius: 0;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
}

.button-wide img {
    width: 16px;
    height: 16px;
    margin-bottom: -3px;
}

/*padding for iPhone X via WebKit https://webkit.org/blog/7929/designing-websites-for-iphone-x/*/
@supports(padding: max(0px)) {
    .button-wide {
        padding-top: max(15px, env(safe-area-inset-top));
        padding-bottom: max(25px, env(safe-area-inset-bottom));
        padding-left: max(25px, env(safe-area-inset-left));
        padding-right: max(25px, env(safe-area-inset-right));
    }
}