@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');

* {
    font-family: 'Rubik', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

strong {
    font-weight: 500 !important;
}

body {
    margin: 0;
    /* background-color: #FFFFFF; */
    background-color: #FAFAFC;
    overflow-x: hidden;
}

h1 {
    font-size: 24px;
    font-weight: 500;
    color: #888796;
}

h2 {
    font-size: 54px;
    font-weight: 700;
    color: #37373D;
    margin: 20px 0px 20px 0px;
}

h3, th {
    font-size: 36px;
    font-weight: 500;
    color: #37373D;
}

h4 {
    font-size: 28px;
    font-weight: 700;
    color: #5C5B66;
}

.h4-light{
    font-weight: 400;
}

h5 {
    font-size: 18px;
    font-weight: 700;
    color: #5C5B66;
}

p {
    font-size: 18px;
    line-height: 29px;
    color: #5C5B66;
    margin-top: 24px;
}

li {
    font-size: 18px;
    line-height: 29px;
    color: #5C5B66;
}

.fa {
    font-size: 28px;
    color: #5C5B66;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: ease;
    transition-delay: initial;
}

.fa-twitter {
    margin-left: 25px;
}

.fa:hover {
    transform:scale(1.15,1.15);
    -webkit-transform:scale(1.15,1.15);
    -moz-transform:scale(1.15,1.15);
}

.new_section {
    margin-top: 90px;
    margin-bottom: 90px;
}

a {
    font-size: 18px;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.textlink:hover {
    opacity: 0.75;
}

.content-wrapper {
    width: 85%;
    max-width: 1200px;
    margin: auto;
}

/*@future me --> also change 'tabs' in switch.css*/
button {
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 100px;
    color: #FFFFFF;
    background-color: #7166FF;
    font-weight: 500;
    /* box-shadow: 0 5px 15px 0 rgba(127,127,127,0.50); */
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0px 45px 0px 45px;
    transition-property: all;
    transition-duration: 350ms;
    transition-timing-function: ease;
    transition-delay: initial;
}

button.ghostbutton {
    /* color: #5C5B66; */
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.24);
    /* border: 1px solid #F4F3FF; */
}

.button-contribute {
    margin-top: 30px;
    margin-bottom: 10px;
}

#button-contribute-future {
    background-color: #6BEDE7;
}

#button-contribute-send {
    background-color: #FFD56E;
}

button:hover{
    transform:scale(1.03,1.03);
    -webkit-transform:scale(1.03,1.03);
    -moz-transform:scale(1.03,1.03);
    cursor: pointer;
    box-shadow: 0px 24px 80px rgba(50, 100, 250, 0.004), 0px 12px 30px rgba(23, 20, 51, 0.04), 0px 0px 8px rgba(23, 20, 51, 0.04);
}

.button:hover{
    transform:scale(1.03,1.03);
    -webkit-transform:scale(1.03,1.03);
    -moz-transform:scale(1.03,1.03);
    cursor: pointer;
}

.page-line {
    width: 100%;
    height: 4px;
}

.page-line-default {
    background-color: #7166FF;
}

@media only screen and (max-width: 1024px) {
    button, .button {
        margin: 50px 0px 50px 0px;
    }
}