.container {
	width: 100%;
	margin: 0 auto;
}

ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: right;
}

ul.tabs li {
	font-size: 18px;
	display: inline-block;
	cursor: pointer;
	border: 1px solid #F4F3FF;
	border-radius: 100px;
	margin-left: 30px;
    padding: 10px 45px 10px 45px;
    transition-property: all;
    transition-duration: 350ms;
    transition-timing-function: ease;
	transition-delay: initial;
	background-color: #ffffff;
}

ul.tabs li:hover {
	transform:scale(1.03,1.03);
	-webkit-transform:scale(1.03,1.03);
	-moz-transform:scale(1.03,1.03);
	cursor: pointer;
	box-shadow: 0px 24px 80px rgba(50, 100, 250, 0.004), 0px 12px 30px rgba(23, 20, 51, 0.04), 0px 0px 8px rgba(23, 20, 51, 0.04);
}

.tab-content {
	display: none;
}

.tab-content.current {
	display: inherit;
}

@media only screen and (max-width: 992px) {
    ul.tabs {
		text-align: left;
	}
	
	ul.tabs li {
		margin: 50px 30px 0px 0px;
	}
}

@media only screen and (max-width: 421px) {
	ul.tabs li {
		margin: 50px 10px 0px 0px;
	}
}

@media only screen and (max-width: 374px) {
	ul.tabs li {
		margin: 50px 5px 0px 0px;		
	}

	ul.tabs li:nth-child(2) {
		margin-top: 25px;
	}
}
