.data-toc {
    max-height: calc(100vh - 310px);
    border-radius: 0px 16px 16px 0px;
    padding: 16px 32px 16px 0px;
    overflow-y: hidden;
    display: block;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 0px;
    transform: translate(0%, -50%);
    background-color: transparent;
}

.data-toc:hover {
    overflow-y: scroll;
}

@media only screen and (max-width: 768px) {
    .data-toc {
        display: none;
    }
}

.data-toc table {
    width: 100%;
    table-layout: initial;
}

.data-toc tbody:nth-of-type(even) {
    display: none;
}

.data-toc th {
    border-radius: 8px;
    padding: 8px 8px 8px 28px;
    transform: translateX(16px);
    color: transparent;
}

.data-toc th:before {
    content: '';
    position: absolute;
    border-style: solid;
    height: 4px;
    border-width: 4px;
    top: 14px;
    border-radius: 100px;
    transform: translateX(-16px);
}

.data-toc tr:hover th:before {
    transform: translateX(-16px) scale(1.4);
}