a {
    color: #FF718E;
}

.fa.fa-github {
    color: #FF718E !important;
}

.toolspage-line, ul.tabs li.current, .page-line-miscellaneous {
    background-color: #FF718E;
}

ul.tabs li.current {
	color: white;
}