/*a {
    color: #FF718E;
}

.toolspage-line {
    background-color: #FF718E;
}*/

/* .content-wrapper:after {
    content: url("../img/backgroundDesign.svg");
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    z-index: -1;
} */

@media only screen and (max-width: 992px) {
    .blob {
        display: none;
    }
}

@media only screen and (max-width: 1800px) {
    .blob {
        width: 50vw;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
}

@media only screen and (min-width: 1800px) {
    .blob {
        width: 50vw;
        position: absolute;
        top: -100px;
        right: 0;
        z-index: -1;
    }
}

h1 {
    font-size: 24px !important;
    color: #979797 !important;
    margin-bottom: -10px !important;
}

.fa.fa-github {
    font-size: 18px;
    transition-property: none;
}

.fa.fa-github:hover {
    transform: none;
}

.toolspage-hero {
    display: flex;
    padding-top: 100px;
    max-width: 50%;
}

@media only screen and (max-width: 1023px) {
    .toolspage-hero {
        display: block;
        padding-top: 50px;
        max-width: 65%;
    }
}

@media only screen and (max-width: 992px) {
    .toolspage-hero {
        max-width: 100%;
    }
}

.toolspage-hero-left p {
    /* width: 40vw; */
    max-width: 575px;

}

@media only screen and (max-width: 1023px) {
    .toolspage-hero-left p {
        width: 100%;
    }
}

/* .toolspage-hero-right {
    width: 50vw;
    height: 100%;
    display: block;
    margin: auto;
}

@media only screen and (max-width: 1023px) {
    .toolspage-hero-right {
        width: 100%;
        margin: 0;
    }
}

.toolspage-hero-right img {
    width: 100%;
    height: 100%;
} */

.toolspage-search {
    width: 100%;
}

input {
    width: calc(100% - 25px);
    font-size: 25px;
    font-family:  'Nunito', sans-serif;
    font-weight: 700;
    color: #333333;
    background: #FFFFFF;
    box-shadow: 0 5px 15px 0 rgba(127,127,127,0.50);
    -webkit-box-shadow: 0 5px 15px 0 rgba(127,127,127,0.50);
    -moz-box-shadow: 0 5px 15px 0 rgba(127,127,127,0.50);
    -webkit-appearance: none; /*Fixes box-shadow on iOS*/
    border: none;
    border: 0;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    margin: 50px 0px 45px 0px;
}

::-webkit-input-placeholder { /* Chrome */
    color: rgba(51,51,51,0.25);;
    transition: opacity 250ms ease-in-out;
  }

:-ms-input-placeholder { /* IE 10+ */
color: rgba(51,51,51,0.25);;
transition: opacity 250ms ease-in-out;
}

::-moz-placeholder { /* Firefox 19+ */
color: rgba(51,51,51,0.25);;
opacity: 1;
transition: opacity 250ms ease-in-out;
}

:-moz-placeholder { /* Firefox 4 - 18 */
color: rgba(51,51,51,0.25);;
opacity: 1;
transition: opacity 250ms ease-in-out;
}

input:focus {
    outline: none;
}

@media only screen and (max-width: 576px) {
    input {
        font-size: 18px;
    }
}

.edit-and-switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-and-switch a {
    display: block;
    line-height: 29px;
}

@media only screen and (max-width: 805px) {
    .edit-and-switch {
        display: block;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.toolspage-shortcuts-wrapper {
    /*width: 100%;*/
    width: 80%;
    margin: auto;
    /* padding-top: 30px; */
}

@media only screen and (max-width: 1023px) {
    .toolspage-shortcuts-wrapper {
        width: 100%;
    }
}

.toolspage-shortcuts-wrapper p {
    width: 75%;
    margin-bottom: 50px;
}

table {
    width: 100%;
    margin: auto;
    text-align: left;
    table-layout: fixed;
}

th {
    padding: 36px 0px;
}

#myTable {
    margin-top: -36px;
}

th:hover {
    background-color: #fbfbfb;
}

tr {
    width: 100%;
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: ease;
    transition-delay: initial;
}

tr:hover {
    background-color: #F7F7F7;
}


td:nth-child(even) {
    text-align: right;
    color: #7A7A7A;
}

td {
    line-height: 33px;
    border-bottom: 1px solid #DDDDDD;
    vertical-align: top;
}