#scroll-to-search {
    display: block;
    position: fixed;
    left: 10px;
    bottom: 52px;
    z-index: 999;
    padding: 12px 15px 12px 15px;
}

#scroll-to-search img {
    width: 20px;
    height: 20px;
    transform: translateY(2px);
}

input {
    padding: 24px 32px 24px 72px;
    margin: 56px 0px 32px 0px;
    background-image: url(/assets/icons/icon-24-search-light.png);
}

.edit-switch { 
    display: block;
}

#switch {
    margin: 24px 0px;
}

.tabs {
    padding: 5px;
    border-radius: 100px;
    width: fit-content;
    width: -webkit-fit-content;
    cursor: pointer;
}

.tab-link {
    background-image: none;
}

.tab-content {
	display: none;
}

.tab-content.current {
	display: inherit;
}

table {
    width: 100%;
    text-align: left;
    table-layout: fixed;
}

.data-table #myTable tbody:first-child tr th {
    padding-top: 25px;
}

th {
    padding: 72px 0px 16px 0px;
}

tr {
    width: 100%;
}

td:nth-child(even) {
    text-align: right;
}

td {
    line-height: 40px;
    vertical-align: top;
}

.error {
    text-align: center;
    display: none;
    margin-bottom: 80px;
}

.error img {
    max-width: 333px;
    height: auto;
}

.error a {
    margin-top: 32px;
}

@media (prefers-color-scheme: dark) {
    input {
        background-image: url(/assets/icons/icon-24-search-dark.png);
    }
}

@media only screen and (min-width: 992px) {
    .edit-switch {
        display: flex;
        justify-content: space-between;
    }

    #switch {
        margin-top: 0px;
    }
}