a {
    color: purple;
}

.fa.fa-github {
    color: purple !important;
}

.toolspage-line, ul.tabs li.current {
    background-color: purple;
    color: white;
}



* {
    font-family: 'Times New Roman', Times, serif !important;
}

/* #myTable tbody tr th:empty {
    display: none;
} */

th:empty {
    display: none;
}

tr:hover {
    background-color: yellow !important;
} 