.tool-card {
    width: 133px;
    min-height: 218px;
    text-align: center;
    border-radius: 24px;
    margin: 0px 32px 32px 0px;
    position: relative;
    display: inline-block;
}

.tool-card:after {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% + 4px);
    top: 0;
    left: 0;
    border-radius: 26px;
    z-index: -1;
}

.tool-card:hover.tool-card:after {
    top: 4px;
}

.tool-card:active.tool-card:after {
    top: 0px;
}

.label.featured-label {
    position: absolute;
    left: 24px;
    top: 12px;
    font-size: 12px;
    border-radius: 80px;
    padding: 4px 8px;
}

.logos-os {
    padding: 16px 16px 0px 0px;
    display: flex;
    justify-content: flex-end;
}

.tools-overview .logos-os img {
    width: 16px;
    height: 16px;
}

.logos-os img:last-of-type {
    margin-left: 4px;
}

.tools-overview img.logo-app {
    width: 88px;
    height: 88px;
}

.tool-card:hover .logo-app {
    transform: rotate(4deg) scale(1.16, 1.16);
    -webkit-transform: rotate(4deg) scale(1.16, 1.16);
}

.tool-card:active .logo-app {
    transform: rotate(0deg) scale(1, 1);
    -webkit-transform: rotate(0deg) scale(1, 1);
}

.tool-card h4 {
    margin: 0px 16px 24px 16px;
}

@media only screen and (min-width: 470px) {
    .tool-card, .tool-card:after {
        width: 170px;
    }
}