a {
    color: #70CAF7;
}

.fa.fa-github {
    color: #70CAF7 !important;
}

.toolspage-line, ul.tabs li.current, .page-line-miscellaneous {
    background-color: #70CAF7;
}

ul.tabs li.current {
	color: #333;
}