[submodule "test-repo"]
	path = test-repo
	url = https://michelvanheest@github.com/michelvanheest/test-repo
[submodule "data-live"]
	path = data-live
	url = https://michelvanheest@github.com/michelvanheest/shortcuts-design-data
