---
layout: layouts/base.njk
permalink: /
subtitle: Shortcuts.design
title: Every shortcut for designers, centralized and searchable.
---

<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/toolslist.css">

{# BLOB #}
<object type="image/svg+xml" data="/assets/img/gradient-brand-default.svg" class="blob"></object>

{# INTRO #}
{% include "hero.njk" %}

<div class="row tools-overview">
    <div class="col-12 col-lg-3">
        <div class="position-sticky">
            <img src="/assets/img/toolGroup-design.png" alt="Design Shortcuts Icon">
            <h2>Design shortcuts</h2>
        </div>
    </div>
    <div class="col-12 col-lg-9">
        {% set toolslist = collections.tools %}
        {% for tool in toolslist %}
            {% if tool.data.toolGroup == "Design" %}
                {% include "toolslist.njk" %}
            {% endif %}
        {% endfor %}
        {% include "add-new-tool.njk" %}
    </div>
</div>
<div class="row">
    <div class="col-12 offset-lg-3 col-lg-9">
        {% include "link.njk" %}
    </div>
</div>
<div class="row tools-overview">
    <div class="col-12 col-lg-3">
        <div class="position-sticky">
            <img src="/assets/img/toolGroup-development.png" alt="Development Shortcuts Icon">
            <h2>Development shortcuts</h2>
        </div>
    </div>
    <div class="col-12 col-lg-9">
        {% set toolslist = collections.tools %}
        {% for tool in toolslist %}
            {% if tool.data.toolGroup == "Development" %}
                {% include "toolslist.njk" %}
            {% endif %}
        {% endfor %}
        {% include "add-new-tool.njk" %}
    </div>
</div>
<div class="row tools-overview">
    <div class="col-12 col-lg-3">
        <div class="position-sticky">
            <img src="/assets/img/toolGroup-productivity.png" alt="Productivity Shortcuts Icon">
            <h2>Productivity shortcuts</h2>
        </div>
    </div>
    <div class="col-12 col-lg-9">
        {% set toolslist = collections.tools %}
        {% for tool in toolslist %}
            {% if tool.data.toolGroup == "Productivity" %}
                {% include "toolslist.njk" %}
            {% endif %}
        {% endfor %}
        {% include "add-new-tool.njk" %}
    </div>
</div>
<div class="row tools-overview">
    <div class="col-12 col-lg-3">
         <div class="position-sticky">
            <img src="/assets/img/toolGroup-3D.png" alt="3D Shortcuts Icon">
            <h2>3D shortcuts</h2>
        </div>
    </div>
    <div class="col-12 col-lg-9">
        {% set toolslist = collections.tools %}
        {% for tool in toolslist %}
            {% if tool.data.toolGroup == "3D" %}
                {% include "toolslist.njk" %}
            {% endif %}
        {% endfor %}
        {% include "add-new-tool.njk" %}
    </div>
</div>