---
layout: layouts/base.njk
subtitle: Shortcuts.design
title: Privacy statement
buttonLink: mailto:shortcutsdesign@michelvanheest.com?subject=Mail%20from%20Shortcuts.design
buttonText: Contact me
---

{# BLOB #}
<object type="image/svg+xml" data="/assets/img/gradient-brand-default.svg" class="blob"></object>

{# INTRO #}
{% include "hero.njk" %}

<div class="row">
    <div class="col-12 offset-lg-3 col-lg-8">
        <p>Shortcuts.design, built by Michel van Heest, is responsible for the processing of personal data as shown in this privacy statement. In this privacy statement we explain how we deal with privacy. Any questions can be e-mailed to shortcutsdesign@michelvanheest.com.</p>
        <br><br>
        <h2>What personal data does Shortcuts.design collect</h2>
        <p>We collect the personal data you provide to us.</p>
        <br><br>
        <h2>The reason Shortcuts.design processes personal data</h2>
        <p>We process personal data for the following purpose: To be able to e-mail you when necessary, this is only if you have indicated this yourself via GitHub, a Google Form or Hotjar.</p>
        <br><br>
        <h2>How long Shortcuts.design stores your data</h2>
        <p>We do not keep the data longer than necessary. This term is relative and depends on the reason why you gave us your data in the first place.</p>
        <br><br>
        <h2>With which third parties Shortcuts.design shares personal data</h2>
        <p>We don’t.</p>
        <br><br>
        <h2>Google Analytics</h2>
        <p>We have signed a processor agreement with Google. The data we collect in Google Analytics is anonymised and encrypted. The so-called 'sharing of data' with Google is off. We do not use the Analytics cookies in combination with other Google services.</p>
        <br><br>
        <h2>Hotjar</h2>
        <p>Previously, Shortcuts.design used tracking features from Hotjar to optimize the website. A cookie may have been placed for this during previous visits. Shortcuts.design is using Hotjar for asking user feedback only.</p>
        <br><br>
        <h2>Cookies that are being used by Shortcuts.design</h2>
        <p>A cookie is a small text file that is stored in the browser of your computer, tablet or smartphone when you first visit this website. We use the necessary cookies with a purely technical functionality. These ensure that the website works properly. In addition, there are the analytical cookies that collect anonymized data about the use of our website and help us optimize the site. The privacy of the visitor remains guaranteed with these cookies.</p>
        <br><br>
        <p>Last updated on 2021-02-04.</p>
    </div>
</div>