---
layout: layouts/base.njk
subtitle: Sponsor Shortcuts.design
title: Reach world-wide creatives with your product!
---

{# BLOB #}
<object type="image/svg+xml" data="/assets/img/gradient-brand-default.svg" class="blob"></object>

{# INTRO #}
{% include "hero.njk" %}

{# BODY #}
<div class="row">
    <div class="col-12 col-lg-6">
        <h2>Why advertise with Shortcuts.design?</h2>
        <p>Shortcuts.design has ~55.000 pageviews (& growing) per month. Currently, the website has over ~13.000 monthly visitors that charge their productivity by learning and using shortcuts. The website became Producthunt Product of the Day in 2017 and got featured by large websites and companies like Creativebloq, Sidebar, InVision, CSS-Tricks, Prototypr, Sprint UX Podcast, and UpLabs, to name a few.</p>
        <p>Our visitors are productivity-minded people in the creative space. They’re designers, illustrators, developers, copywriters, and marketeers, mostly living in countries like United States, United Kingdom, India, and Germany. It’s a great audience for you as a sponsor.</p>
        <br><br>
        <h2>The deal</h2>
        <p>When advertising on Shortcuts.design, your advertisement will be visible on the homepage and all 30+ and growing toolspages and will run for one month (e.g., the whole of July, September, or December).</p>
        <br><br>
        <h2>Guidelines</h2>
        <p>Sponsored links should be relevant to Shortcuts.design design-focused audience and link to high-quality, well-designed content, products, or deals.</p>
        <p>If you use analytics software for tracking, visits to your sponsored link or job post can be tracked with the UTM tag "?ref=shortcuts.design" and will show the number of incoming visitors from the sponsored link.</p>
        <br><br>
        <h2>Approval</h2>
        <p>Shortcuts.design approves sponsor-requests and has the right to decline proposals without having to state a reason.</p>
        <br><br>
        <h2>Refunds</h2>
        <p>Sponsorships can be refunded. Please e-mail us at contact@michelvanheest.com with the request up to two weeks before the scheduled date to cancel the advertisement and receive a refund.</p>
        <br><br>
        <h2>Like to become a sponsor?</h2>
        <p>Reach out to <a href="mailto:contact@michelvanheest.com?subject=Contact%20via%Shortcuts.design" target="_blank" rel="noopener">contact@michelvanheest.com</a> or click on the blue button on the right.</p>
    </div>
    <div class="col-12 offset-lg-1 col-lg-5">
        <div class="card card-sticky">
            <h4>Sponsored link</h4>
            <div class="card-title-flex">
                <h2>$49</h2>
                <h4>for one month</h4>
            </div>
            <ul>
                <li>Show your design / productivity product</li>
                <li>Featured on the homepage and toolspages</li>
                <li>Reach ~13.000 creatives per month *</li>
            </ul>
            <a href="mailto:contact@michelvanheest.com?subject=Contact%20via%Shortcuts.design" target="_blank" rel="noopener" class="button button-primary">Contact for availability</a>
        </div>
    </div>
</div>
<div class="row"></div>
</div>