<a href="https://github.com/michelvanheest/shortcuts-design-data" target="_blank" rel="noopener">
    <div class="add-new-tool">
        <img src="/assets/img/add-new-tool.png" alt="Add a new tool to Shortcuts.design">
        <h4>Add new tool</h4>
    </div>
</a>