<!DOCTYPE html>
<html lang="en-us">
    <head>
        <link rel="stylesheet" href="/css/footer.css">
    </head>
    <body>
        <footer>
            <div id="footer-curve"></div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div id="footer-left">
                            <h5>© 2021 - Created by <a href="https://www.michelvanheest.com?ref=shortcuts.design" target="_blank">Michel van Heest</a></h5>
                            <h5>Build with <a href="http://11ty.dev?ref=shortcuts.design" target="_blank">11ty</a>, hosted on <a href="http://netlify.com?ref=shortcuts.design" target="_blank">Netlify</a></h5>
                            <h5><a href="/status" target="_blank">Status</a></h5>
                            <h5><a href="/updates">Updates</a></h5>
                            <h5><a href ="/privacy-statement">Privacy</a></h5>
                            <h5><a href ="https://michelvanheest.us1.list-manage.com/unsubscribe?u=3907430f68f64a0c3f7f673b7&id=4549cab974" target="_blank">Unsubscribe</a></h5>
                        </div>
                        <div id="footer-right">
                            <a href="mailto:contact@michelvanheest.com?subject=Contact%20via%Shortcuts.design" class="a-icon" alt="E-mail Michel van Heest"><i class="far fa-envelope fa-lg"></i></a>
                            <a href="https://twitter.com/michelvanheest" target="_blank" class="a-icon" alt="Find Michel van Heest on Twitter"><i class="fab fa-twitter fa-lg"></i></a>
                            <a href="https://dribbble.com/michelvanheest" target="_blank" class="a-icon" alt="Find Michel van Heest on Dribbble"><i class="fab fa-dribbble fa-lg"></i></a>
                            <a href="https://www.linkedin.com/in/michelvanheest" target="_blank" class="a-icon" alt="Find Michel van Heest on LinkedIn"><i class="fab fa-linkedin-in fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        <script defer src="/js/fontawesome-all.js"></script>
        </footer>
    </body>
</html>