
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <link rel="stylesheet" href="/css/hero.css">
    </head>
    <body>
        <div class="row">
            <div class="col-12 col-lg-6">
                <h3>{{ subtitle }}</h3>
                <h1>{{ title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="button button-secondary" id="hero-button">Get updated</div>
            </div>
            <div class="col-12 col-lg-3">
                <a href="#card-row" id="profile">
                    <img src="/assets/img/avatar-color.png" id="profile-avatar" alt="Michel van Heest - Creator of Shortcuts.design">
                    <div id="profile-text">
                        <h5>Created by</h5>
                        <h4>Michel van Heest</h4>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="newsletter-wrapper">
            <div class="row">
                <div class="col-12 offset-sm-2 col-sm-8">
                    <div class="newsletter">
                        <div class="newsletter-top">
                            <div>
                                <h4>Subscribe for free</h4>  
                                <h2>Stay up-to-date</h2>
                                <p>Get updates about Shortcuts.design, related resources, tips &amp; tricks to charge your productivity.</p>
                            </div>
                            <img src="/assets/img/close.png" alt="close">
                        </div>
                        <div id="mc_embed_signup">
                            <form action="https://michelvanheest.us1.list-manage.com/subscribe/post?u=3907430f68f64a0c3f7f673b7&amp;id=4549cab974" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
                                <div id="mc_embed_signup_scroll">   
                                    <div class="mc-field-group">
                                        <input type="email" placeholder="Email address" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                    </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                        <input type="text" name="b_3907430f68f64a0c3f7f673b7_4549cab974" tabindex="-1" value="">
                                    </div>
                                    <div class="clear">
                                        <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button button-primary">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <ul>
                            <li>Max. once a month, probably less</li>
                            <li>No spam, pinky-promise</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>