
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <link rel="stylesheet" href="/css/hero.css">
    </head>
    <body>
        <div class="row">
            <div class="col-12 col-lg-6">
                <h3>{{ subtitle }}</h3>
                <h1>{{ title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-3">
                <a href="{{ buttonLink }}" target="_blank" class="button button-secondary">{{ buttonText }}</a>
            </div>
            <div class="col-12 col-lg-3">
                <a href="#card-row" id="profile">
                    <img src="/assets/img/avatar-color.png" id="profile-avatar" alt="Michel van Heest - Creator of Shortcuts.design">
                    <div id="profile-text">
                        <h5>Created by</h5>
                        <h4>Michel van Heest</h4>
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>