<link rel="stylesheet" href="/css/link.css">

{% set sponsorlist = collections.sponsors %}
{% for sponsor in sponsorlist %}
    {% if sponsor.data.active == "yes" %}
        <div class="card link" id="link">
            <h4>Sponsored by {{ sponsor.data.sponsorName }}</h4>
            <div class="card-title-flex">
                <h3>{{ sponsor.data.title }}</h3>
                <h4>{{ sponsor.data.subtitle }}</h4>
            </div>
            {{ sponsor.templateContent | safe }}
            <a href="{{ sponsor.data.url }}" target="_blank" rel="sponsored" class="button button-secondary">Get it from {{ sponsor.data.sponsorName }}</a>
        </div>
    {% endif %}
{% endfor %}