<!DOCTYPE html>
<html lang="en-us">
    <head>
        <link rel="stylesheet" href="/css/nav.css">
    </head>
    <body>
        <nav>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <a href="/"><img src="/assets/img/shortcuts-design-logo.png" alt="Shortcuts.design logo"></a>
                    </div>
                </div>
            </div>
        </nav>
    </body>
</html>