<!DOCTYPE html>
<html lang="en-us">
    <head>
        <link rel="stylesheet" href="/css/nav.css">
    </head>
    <body>
        <nav>
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <a href="/"><img src="/assets/img/shortcuts-design-logo.png" alt="Shortcuts.design logo"></a>
                    </div>
                    <div class="col-10">
                        <div class="nav-links">
                            <a href="/sponsor">Sponsor</a>
                            <a href="https://github.com/michelvanheest/shortcuts-design-data" target="_blank" rel="noopener">Submit tool</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </body>
</html>