<link rel="stylesheet" href="/css/table-of-contents.css">

<script>
    function createDataToc() {
        jQuery("#data-toc #myTable tr").each(function(){
            var thValue = $(this).children("th:nth-child(n)").text().split(" ").join("-").replace("/" ,"-").replace("&" ,"-").replace("(" ,"-").replace(")" ,"-").replace("," ,"-").replace(")" ,"-").toLowerCase();
            $(this).wrap('<a class="nav-link" ' + ' id="scroll-to-' + thValue + '" href="#' + thValue + '"/>')

            $('#scroll-to-' + thValue).on('click', function(e){
                e.preventDefault();
                var target= $(this).get(0).id == ('scroll-to-' + thValue) ? $('#' + thValue) : $('#scroll-to-' + thValue);
                $('html, body').stop().animate({
                scrollTop: target.offset().top
                }, 600);
            });
        });
    }

    function addIdToTh() {
        jQuery(".data-table #myTable tr").each(function(){
            var thValue = $(this).children("th:nth-child(n)").text().split(" ").join("-").replace("/" ,"-").replace("&" ,"-").replace("(" ,"-").replace(")" ,"-").replace("," ,"-").replace(")" ,"-").toLowerCase();
            $(this).attr('id', thValue);
        });
    }
    
    {% if os1 is null %}
        $(document).ready(function(){
            $("#data-toc").load("/data/{{ toolGroup }}/toolspage-{{ toolSlug }}.html", function() {
                createDataToc();
            });
        });
    {% else %}
        $(document).ready(function(){
            $("#data-toc").load("/data/{{ toolGroup }}/toolspage-{{ toolSlug }}-{{ os1 }}.html", function() {
                createDataToc();
            });
        });
    {% endif %}
</script>

<div class="data-toc-scrollspy">
    <div id="data-toc" class="nav-pils"></div>
</div>