<!DOCTYPE html>
<html lang="en-us">
    <head>
        <link rel="stylesheet" href="/css/toast.css">
    </head>
    <body>
        <div id="toast-wrapper">
            <a href="https://paypal.me/michelvanheest?ref=shortcuts.design" id="toast" target="_blank" rel="noopener">Buy me a coffee ☕❤️</a>
        </div>
        <script type="text/javascript" src="/js/animate.js"></script>
    </body>
</html>