<a href="{{ tool.url | url }}">
    <div class="tool-card tool-card-{{ tool.data.toolGroup }}">
        {% if tool.data.featured == "yes" %}
            <div class="label featured-label">featured</div>
        {% endif %}
        <div class="logos-os">
            {% if tool.data.os1 == "Mac" and tool.data.os2 == null %}
                <img src="/assets/img/platform-logo-apple.png" alt="Logo Apple">
            {% elif tool.data.os1 == null and tool.data.os2 == "Windows" %}
                <img src="/assets/img/platform-logo-windows.png" alt="Logo Windows">
            {% elif tool.data.os1 == "Mac" and tool.data.os2 == "Windows" %}
                <img src="/assets/img/platform-logo-apple.png" alt="Logo Apple">
                <img src="/assets/img/platform-logo-windows.png" alt="Logo Windows">
            {% else %}
                <img src="/assets/img/platform-logo-apple.png" alt="Logo Apple">
            {% endif %}
        </div>
        <img src="/assets/img/logo-{{ tool.data.toolSlug }}.png" alt="Logo {{ tool.data.tool }}" class="logo-app">
        <h4>{{ tool.data.tool }}</h4>
    </div>
</a>