---
layout: layouts/base.njk
---

<link rel="stylesheet" href="/css/toolspage.css">
<script type="text/javascript" src="/js/animate.js"></script>
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/switch.js"></script>

{# TOC #}
<script>
    function createDataToc() {
        jQuery("#data-toc #myTable tr").each(function(){
            var thValue = $(this).children("th:nth-child(n)").text().split(" ").join("-").replace("/" ,"-").replace("&" ,"-").replace("(" ,"-").replace(")" ,"-").replace("," ,"-").replace(")" ,"-").toLowerCase();
            $(this).wrap('<a' + ' id="scroll-to-' + thValue + '" href="#' + thValue + '"/>')

            $('#scroll-to-' + thValue).on('click', function(e){
                e.preventDefault();
                var target= $(this).get(0).id == ('scroll-to-' + thValue) ? $('#' + thValue) : $('#scroll-to-' + thValue);
                $('html, body').stop().animate({
                scrollTop: target.offset().top
                }, 600);
            });
        });
    }

    function addIdToTh() {
        jQuery(".data-table #myTable tr").each(function(){
            var thValue = $(this).children("th:nth-child(n)").text().split(" ").join("-").replace("/" ,"-").replace("&" ,"-").replace("(" ,"-").replace(")" ,"-").replace("," ,"-").replace(")" ,"-").toLowerCase();
            $(this).attr('id', thValue);
        });
    }
    
    {% if os1 is null %}
        $(document).ready(function(){
            $("#data-toc").load("/data/{{ toolGroup }}/toolspage-{{ toolSlug }}.html", function() {
                createDataToc();
            });
        });
    {% else %}
        $(document).ready(function(){
            $("#data-toc").load("/data/{{ toolGroup }}/toolspage-{{ toolSlug }}-{{ os1 }}.html", function() {
                createDataToc();
            });
        });
    {% endif %}
</script>
<div id="data-toc"></div>

{# BLOB #}
<object type="image/svg+xml" data="/assets/img/gradient-brand-{{ toolGroup }}.svg" class="blob"></object>

{# SEARCH BUTTON #}
<a href="#myInput" class="button button-primary" id="scroll-to-search">
    <img src="/assets/icons/icon-24-search-white.png" alt="Search icon">
</a>

{# INTRO #}
<div class="row">
    <div class="col-12 col-lg-6">
        <h3>Shortcuts.design</h3>
        <h1>{{ tool }} Shortcuts</h1>
        <p>{{ toolDescription }} <a href="{{ toolLink }}?ref=shortcuts.design" target="_blank" rel="noopener" class="a-{{ toolGroup }}">{{ toolLinkDescription }}</a>.</p>
    </div>
</div>

{# SEARCH #}
<div class="row">
    <div class="col-12">
        <div class="toolspage-search">
            <input id="myInput" type="text" placeholder="Search for shortcuts...">
        </div>
    </div>
</div>

{# EDIT AND SWITCH #}
<div class="row">
    <div class="col-12 edit-switch">
        <div>
            <p><a href="https://github.com/michelvanheest/shortcuts-design-data" target="_blank" rel="noopener" class="a-{{ toolGroup }}"><i class="fab fa-github fa-lg"></i> Edit or add shortcuts on Github</a></p>
        </div>
        {% if os2 is not null %}
            <div id="switch">
                <ul class="tabs">
                    <li class="tab-link Mac button a-{{ toolGroup }}" data-tab="tab-1">{{ os1 }}</li>
                    <li class="tab-link Windows button a-{{ toolGroup }}" data-tab="tab-2">{{ os2 }}</li>
                </ul>
            </div>
        {% endif %}
    </div>
</div>

{# DATA-TABLE #}
<div class="row">
    <div class="col-12 offset-lg-1 col-lg-10">
        <div id="tab-1" class="tab-content Mac">
            {% if os1 is null %}
                <script>
                    $( document ).ready(function(){
                        $("#data-{{ toolSlug }}-1").load("/data/{{ toolGroup }}/toolspage-{{ toolSlug }}.html", function() {
                            addIdToTh();
                        });
                    });
                </script>
                <div id="data-{{ toolSlug }}-1" class="data-table"></div>
            {% else %}
                <script>
                    $( document ).ready(function(){
                        $("#data-{{ toolSlug }}-{{ os1 }}").load("/data/{{ toolGroup }}/toolspage-{{ toolSlug }}-{{ os1 }}.html", function() {
                            addIdToTh();
                        });
                    });
                </script>
                <div id="data-{{ toolSlug }}-{{ os1 }}" class="data-table"></div>
            {% endif %}
        </div>

        <div id="tab-2" class="tab-content Windows">
            {% if os2 == "Windows" %}
                <script>
                    $( document ).ready(function(){
                        $("#data-{{ toolSlug }}-{{ os2 }}").load("/data/{{ toolGroup }}/toolspage-{{ toolSlug }}-{{ os2 }}.html", function() {
                            addIdToTh();
                        });
                    });
                </script>
                <div id="data-{{ toolSlug }}-{{ os2 }}" class="data-table"></div>
            {% else %}
                <script>
                    $( document ).ready(function(){
                        $("#data-{{ toolSlug }}-2").load("/data/{{ toolGroup }}/toolspage-{{ toolSlug }}.html", function() {
                            addIdToTh();
                        });
                    });
                </script>
                <div id="data-{{ toolSlug }}-2" class="data-table"></div>
            {% endif %}
        </div>
    </div>
</div>

{# SEARCH ERROR STATE #}
<div class="row error">
    <div class="col-12 col-lg-6 offset-lg-3">
        <img src="/assets/img/Empty-state-illustration-light.png" class="img-light" alt="Empty state Shortcuts.design toolspage search">
        <img src="/assets/img/Empty-state-illustration-dark.png" class="img-dark" alt="Empty state Shortcuts.design toolspage search">
        <h3>We searched everywhere, but we couldn’t fine a shortcut matching your search-query.</h3>
        <p>Try searching for something else. Think we’re missing something? Send us an issue or add it yourself.</p>
        <a href="https://github.com/michelvanheest/shortcuts-design-data?ref=shortcuts.design" target="_blank" rel="noopener" class="button button-primary">Add a missing shortcut 💪️</a>
    </div>
</div>

<div class="row">
    <div class="col-12 offset-lg-2 col-lg-8">
        {% include "link.njk" %}
    </div>
</div>